---
import Navigation from "../components/navigation.astro";
import Hero from "../components/hero.astro";
import "../../src/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<main>
			<Hero />
		</main>
		<section class="problem">
			<p>
				Qui n'a jamais repoussé une séance de sport parce qu'il n'avait
				personne avec qui la partager ?
			</p>

			<div class="question">
				<div class="wrapper">
					<p>
						- "Je n'aime pas faire mon footing tout seul et aucun de
						mes amis n'est disponible m'accompagner" ;
					</p>
					<img src="runner.jpg" alt="">
				</div>
				<div class="wrapper">
					<p>
						- "J'aimerais faire un tennis mais mes potes ne jouent
						pas à mon niveau" ;
					</p>
					<img src="tennis.jpg" alt="">
				</div>
				<div class="wrapper">
					<p>
						- "Je voudrais aller faire de l'escalade mais personne
						n'est là pour m'assurer" ;
					</p>
					<img src="climbing.jpg" alt="">
				</div>
				<div class="wrapper">
					<p>
						- "On est trois potes qui jouent au basket, on est pas
						assez pour faire un 3x3, ce n'est pas motivant" ;
					</p>
					<img src="basketball.jpg" alt="">
				</div>
			</div>
		</section>
		<script>
			import "../script/menu.js";
		</script>
	</body>
</html>
