---

---

<section class="hero">
    <h1>
        Et si trouver un <span>partenaire</span><br />
        pour faire du <span>sport.</span><br />
        n'était plus un <span>probleme ?</span>
    </h1>
    <div class="app_presentation">
        <img src="../../public/iPhone_15_L.png" alt="" />
        <img src="../../public/iPhone_15_C.png" alt="" />
        <img src="../../public/iPhone_15_R.png" alt="" />
    </div>
    <div class="scroll">
        <h2>Scroll</h2>
        <img src="public/Rectangle 31 (Stroke).png" alt="" />
    </div>
</section>

<style>
    .hero {
        color: var(--gray);
        font-family: var(--primary-font);
        font-size: 0.95rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .hero span {
        color: var(--primary);
    }

    .app_presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app_presentation img {
        width: 50%;
    }

    .scroll {
        font-family: var(--second-font);
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .scroll img {
        transform: scale(0.8);
    }
</style>
